# -- general -------------------------------------------------------------------
.DS_Store
.*sw?
.cache

# -- bucklescript --------------------------------------------------------------
.merlin
.bsb.lock
*.bs.js
/lib/

# -- dependencies --------------------------------------------------------------
/node_modules/
/src/node_modules/

# -- generated -----------------------------------------------------------------
/storybook-static/
/bundleOutput/
/build/

# -- logs ----------------------------------------------------------------------
npm-debug.log
yarn-error.log
